scheduler-regular/src/main/mule/scheduler-regular.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="scheduler-regularFlow" doc:id="faa0f7cb-0918-4b1c-acd3-ea9ee1402a81" >
		<scheduler doc:name="Scheduler" doc:id="a8b9e5e4-5dba-4b39-8cc8-c7886f026591" >
			<scheduling-strategy >
				<cron expression="17/5 * * * * ?" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="f8b083d6-d1e0-4f6f-9134-c3f78a1f9c66">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	'triggered at': now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="1002235b-3335-4e53-bd63-5719b63b95c7" mode="APPEND" path="/Users/semere/Desktop/Mule soft training/scheduler_cron.json "/>
		<logger level="INFO" doc:name="Logger" doc:id="67f2c40d-993f-4e0c-9c73-35b429830bf7" message="Trigerred @ #[now()]"/>
	</flow>
</mule>
